# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Vaccineo/nbproject/private/
/Vaccineo/build/
/Vaccineo/manifest.mf/
/Vaccineo/dist/
Vaccineo/nbproject/build-impl.xml
Vaccineo/nbproject/project.xml
Vaccineo/nbproject/project.properties
Vaccineo/nbproject/genfiles.properties
